/* .container {
    background-image: url('../img/handImg.jpg');
    background-size: cover;
} */


.main {
    width: 100vw;
    height: 100vh;
    position: relative;
}

video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}
  
